.code { это я говорю компьютеру, эй, меняй только те элементы, что с классом code (при помощи точки в начале)
color: red; ( изменил цвет )
background-color: aqua; изменил заливку фона на цвет аква, прекрасно
font-family: italic; изменил шрифт на italic
font-size: 30px; изменил размер текста
font-weight: bold; изменил жирность текста, в случае с bold на полужирный
font-style: italic; изменил текст на курсивный, красота
padding: это что то непонятное xD
margin: тоже, чудеса, не понимаю я их хахахаахаха
      } обязательно в конце ставим, мы говорим компьютеру все, закончили с этим элементом

     теперь картиночки, border-radius по часовой стрелке скругляет картинки, пример border-radius: 20px 20px 0 0; если 0, то px не обязательно писать, в общем
       border-radius: верхний-левый угол верхний-правый угол нижний правый-угол нижний-левый угол
 margin и padding меняют отступы кто как я не знаю xD хахахахахах
padding/margin: сверху справа снизу слева тоже в пикселях (px)
padding: 20px 40px 0 0;
       
       
